<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526998525969-hrp6d6gb499tfku8enp6g7puq89iemfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526998525969-hrp6d6gb499tfku8enp6g7puq89iemfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCvEP9dllRtvi0P4rQNbJKSlFd1BLc8EOE</string>
	<key>GCM_SENDER_ID</key>
	<string>526998525969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CIS-195.Playpal</string>
	<key>PROJECT_ID</key>
	<string>playpals-d1719</string>
	<key>STORAGE_BUCKET</key>
	<string>playpals-d1719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526998525969:ios:42a475ef2f9953f9d0b9b0</string>
	<key>DATABASE_URL</key>
	<string>https://playpals-d1719.firebaseio.com</string>
</dict>
</plist>